<div class="container-fluid">
  <div class="row bg-primary" style="height: 50px;">
    <div class="col-sm-3 text-white make-left-align">
      {{title}}
    </div>

    <div class="col-sm-6">
      <input [(ngModel)]="post" class="form-control form-control-lg" type="text" [placeholder]="postPlaceholder">
    </div>

    <div col-sm-2>
      <button (click)="postOnWall()" type="button" class="btn btn-info btn-lg">POST HERE</button>
    </div>

  </div>


  <div class="row mt-1">
    <div class="col-sm-3"></div>

    <div class="col-sm-6" >
        <div class="row mt-1 rounded text-white " *ngFor="let item of refPostList">
            <div class="col-sm-12 bg-info rounded  make-center h4" style="height: 150px;">
                {{item.post}}
            </div>

            <button type="button"  (click)="increaseLikeCount(item)"  class="col-sm-6 btn-sm  btn btn-primary">
                L: {{item.likeCount}}
            </button>
            <button type="button" (click)="increaseDislikeCount(item);" class="col-sm-6  btn-sm btn btn-secondary">
                D: {{item.dislikeCount}}
            </button>

            <input [(ngModel)]="item.comment" class="mt-1 col-sm-9 form-control form-control-sm" type="text" placeholder="Comment Here..">
            <button type="button" (click)="addComment(item)" class="mt-1 col-sm-3 btn btn-warning btn-block">
              Comment
            </button>

          <div class="col-sm-12">
            <ul class="list-group" *ngFor="let innerItem of item.commentList">
              <li class="text-dark list-group-item">{{innerItem}}</li>
            </ul>
          </div>

        </div>
    </div>  

    <div class="col-sm-3"></div>
  </div>
</div>