<div class="container-fluid">
  <div class="row bg-primary" style="height: 50px;">
    <div class="col-sm-3 text-white make-left-align">
      {{title}}
    </div>

    <div class="col-sm-6">
      <input class="form-control form-control-lg" type="text" placeholder="{{postPlaceholder}}">
    </div>
  </div>


  <div class="row mt-1">
    <div class="col-sm-3"></div>

    <div class="col-sm-6" >
      <div *ngFor="let item of refPostList" class="mt-1 row rounded text-white " >
        <div class="row  bg-info" style="height: 200px;">
            <div class="col-sm-12 make-center">
                {{item.post}}
              </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6" >
                <button type="button" style="width: 100%" class="btn btn-primary btn-block  btn-sm">
                  L: {{item.likeCount}}
                </button>
            </div>
            <div class="col-sm-6">
              <button type="button" style="width: 100%" class="btn btn-secondary btn-block btn-sm">
                D: {{item.dislikeCount}}
              </button>
            </div>
        </div>
        
      </div>
    </div>  

    <div class="col-sm-3"></div>
  </div>
</div>