<div class="container-fluid">
  <div class="row bg-primary fixed-top" style="height: 50px;">
    <div class="col-sm-3 text-white make-left-align">
        <i class="fas fa-2x fa-bomb fa-spin" ></i>
          {{title}}   
    </div>

    <div class="col-sm-6">
      <input [(ngModel)]="post" class="form-control form-control-lg" type="text" [placeholder]="postPlaceholder">
    </div>

    <div col-sm-2>
      <button (click)="postOnWall()" type="button" class="btn btn-info btn-lg">POST HERE</button>
    </div>

  </div>


  <div class="row" style="margin-top:50px;">
    <div class="col-sm-3"></div>

    <div class="col-sm-6" >
        <div class="mt-1 rounded text-white " *ngFor="let item of refPostList">
            <div class="row">
                <div class="col-sm-12 bg-info rounded make-center" style="height: 150px;">
                    <span class="h4">{{item.POST}}</span>
                </div>
            </div>
            
            <div class="row">
                <button type="button"  (click)="increaseLikeCount(item)"  class="col-sm-6 btn-sm  btn btn-primary">
                    L: {{item.LIKE_COUNT}}
                </button>
                <button type="button" (click)="increaseDislikeCount(item);" class="col-sm-6  btn-sm btn btn-secondary">
                    D: {{item.DISLIKE_COUNT}}
                </button>
            </div>
            

            <div class="row">
                <input [(ngModel)]="item.comment" class="mt-1 col-sm-9 form-control form-control-sm" type="text" placeholder="Comment Here..">
                <button type="button" (click)="addComment(item)" class="mt-1 col-sm-2 btn-sm  text-white btn btn-warning btn-block">
                  Comment
                </button>
                <button type="button" (click)="toggleComment(item)"  class="mt-1 col-sm-1 btn-sm  text-white btn btn-secondary btn-block">
                    Toggle
                </button>
            </div>

            <div class="row" *ngFor="let innerItem of item.commentList" [hidden]="!item.toggleComment">
              <div class="text-dark col-sm-10 list-group-item " style="margin: 0px; padding: 5px">{{innerItem}}</div>
              
              <div class="col-sm-2">
                  <button type="button" class="text-white btn btn-sm btn-danger btn-block mt-1">
                      Del
                    </button>
              </div>
            </div>
            
        </div>
    </div>  

    <div class="col-sm-3"></div>
  </div>
</div>